<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>run_crawl</h1>
    <button onclick="location.href='/'">index</button>

    <hr>
    <h2>imgurl</h2>
    <div>
      <%= img %>
    </div>
    <h2>title</h2>
    <div>
      <%= title %>
    </div>
    <h2>price</h2>
    <div>
      <%= price %>
    </div>
    <h2>grade</h2>
    <div>
      <%= grade %>
    </div>
    <h1>url source</h1>
    <hr>
    <div>
      <%= data %>
    </div>




  </body>
</html>
